@using Syncfusion.Blazor.Grids;
@using Boil.Cpm.Logic

<br/>
<h3>2. Oto tabela przedstawiająca czynności z wyliczonymi czasami</h3>
<br/>
<SfGrid TValue="Activity" DataSource="@Activities" AllowPaging="false" class="table">
    <GridColumns>
        <GridColumn Field="@nameof(Activity.Id)"></GridColumn>
        <GridColumn Field="@nameof(Activity.Name)"></GridColumn>
        <GridColumn Field="@nameof(Activity.Duration)"></GridColumn>
        <GridColumn Field="@nameof(Activity.EarlyStart)"></GridColumn>
        <GridColumn Field="@nameof(Activity.EarlyFinish)"></GridColumn>
        <GridColumn Field="@nameof(Activity.LateStart)"></GridColumn>
        <GridColumn Field="@nameof(Activity.LateFinish)"></GridColumn>
        <GridColumn Field="@nameof(Activity.Reserve)"></GridColumn>
        <GridColumn Field="@nameof(Activity.Critical)"></GridColumn>
    </GridColumns>
</SfGrid>


@code {
#pragma warning disable CS8618
    [Parameter]
    public List<Activity> Activities { get; set; }
#pragma warning restore CS8618
}